<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Please choose an option below:</p>
    <div>
      <a href="/user/register">Register</a>
    </div>
    <div>
      <a href="/user/login">Login</a>
    </div>
  </body>
</html>
